{% extends 'base.html' %}

{% block navbar %}
  <nav class="navbar navbar-default navbar-static-top site-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">二手書屋</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {% include 'account_dropdown.html' %}
      </div><!--/.nav-collapse -->
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="member-profile">
    <div class="row">
      <div class="col-sm-4 col-md-3 hidden-xs">
          <div class="thumbnail">
            <img src="http://placehold.it/240x240">
          </div>
       </div>
      <div class="col-md-7">
        <blockquote>
          {% if user.get_full_name %}
            {{ user.get_full_name }}
          {% else %}
            {{ user.username }}
          {% endif %}
        </blockquote>
        <p>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;{{ user.email }}
        </p>

      </div>
    </div>
  </div>
{% endblock %}